---
kolla_base_distro: "ubuntu"
kolla_container_engine: "docker"
network_interface: "{{ NIC_mgmt }}"
neutron_external_interface: "{{ NIC_external }}"
tunnel_interface: "{{ NIC_tunnel }}"
kolla_internal_vip_address: "{{ virtual_ip }}"
enable_skyline: "yes"
neutron_plugin_agent: "openvswitch"
#enable_neutron_agent_ha: "yes" # if network node > 1 
#neutron_plugin_agent: "ovn"
#neutron_ovn_distributed_fip: "yes"
#neutron_ovn_dhcp_agent: "yes"
#neutron_enable_ovn_agent: "yes"
enable_neutron_trunk: "yes"
enable_openstack_core: "yes"
enable_cinder: "yes"
enable_heat: "yes"
enable_magnum: "yes"
enable_horizon_magnum: "yes"
enable_fluentd: "no"
enable_neutron_provider_networks: "yes"
#cinder_cluster_name: example_cluster_name
cinder_cluster_skip_precheck: true
ceph_glance_user: "glance"
ceph_glance_keyring: "client.glance.keyring"
ceph_glance_pool_name: "images"
ceph_cinder_user: "cinder"
ceph_cinder_keyring: "client.cinder.keyring"
ceph_cinder_pool_name: "volumes"
ceph_cinder_backup_user: "cinder-backup"
ceph_cinder_backup_keyring: "client.cinder-backup.keyring"
ceph_cinder_backup_pool_name: "backups"
ceph_nova_keyring: "client.nova.keyring"
ceph_nova_user: "nova"
ceph_nova_pool_name: "vms"
glance_backend_ceph: "yes"
cinder_backend_ceph: "yes"
nova_backend_ceph: "yes"
nova_compute_virt_type: "kvm"
enable_octavia: "yes"
enable_redis: "yes"
